* {
    padding: 0%;
    margin: 0%;

}

body{
    width: 1000px;
    height: 2000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav1{
    background-color:#000000;
    padding: 3px;
}
.nav1 l{
    color:#fcf6f6;
    font-size:48px;
}
.nav1 li{
    list-style: none;
    float: right;
    display: block;
    margin-right: 5px;
    padding: 10px 20px;
    color: white;
}

.nav2 l{
    float:right;
    padding: 10px;
    box-sizing: border-box;
}
.nav2 li{
    list-style: none;
    float: left;
    display: block;
    margin-right: 5px;
    padding: 10px 20px;
    color: #333333;
    font-size: 16px;
}


* {
    box-sizing: border-box;
  }
  .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 340px;
    font-family:'Times New Roman', Times, serif
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .new{
    font-size: 45px;
    color: #000000;
    padding-top: 29px;
    
  }
  .new1{
    font-size: 18px;
    color: #333333;
  }
  .new2{
    padding-left: 40px;
  }


p{
    font-size: 30px;
    margin-bottom: 0%;
    padding-left: 60px;
    color: #333333;
}
p span{
    font-size: 50px;
}
.flex-container {
    display: flex;
}
.flex-container div{
    padding-left: 40px;
    width: 15%;
}
.flex-container div figcaption{
    text-align: center;
    color: #333333;
    min-width: 90%;
}

.cc {
    float: left;
    width: 23.43%;
    padding: 20px;
    padding-left: 60px;
  }
  .card {
    padding: 1px;
    background-color: #dbf3fa;
  }
.card p{
    color: #333333;
    font-size: 20px;
}
  .text{
    color: #333333;
    font-size: 14px;
  }




.footer{
    background-color: #131a22;
    color: white;
}
.ftr {
    float: left;
    width: 15% 30% 20% 35%;
    padding: 10px;
    height: 300px;
  }
  .ftr p{
    color: white;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .ftr p1{
    font-size: 16px;
    padding-left: 60px;
  }
  /* .row p p1:hover{
    color: #ffff;
    padding-left: 10%;
    
  } */
  
